name: main
on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: false
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

jobs:
  capa_de_jornal:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.PAT_GITHUB }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@master
      
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - name: Install packages
        run: |   
          install.packages("webshot2")         
        shell: Rscript {0}
        
      - name: Take screenshots
        id: retry
        uses: nick-fields/retry@v2
        with:
          timeout_seconds: 10
          max_attempts: 3
          retry_on: error
          command: Rscript screenshot_script.R
